@import url("../twentyfifteen/style.css"); @import url("../twentyfifteen/rtl.css");
body {
  direction: initial;
  unicode-bidi: embed;
  background: #fafaff;
}
.post-password-form input[type="submit"]{
  right: 0;
  left: auto;
}
li{
	list-style: none;
}

body:not(.single) .sidebar{                                       
	display: none;                                
}
.clearfix{
	content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

@media screen and (max-width: 59.6874em){
	body .sidebar{                                       
		display: none;                                
	}

	.header ul{
		clear: both;
		display: block;
		width: 100%;
	}
	.header li{
		border-right: 1px solid #cfcfcf;
		width: 33.3333%;
		height: 27px;
		line-height: 25px;
		float: left;
		list-style: none;
		-webkit-transition: background 0.5s ease;
		-moz-transition: background 0.5s ease;
		-ms-transition: background 0.5s ease;
		-o-transition: background 0.5s ease;
		transition: background 0.5s ease;
	}

	body:not(.single) .post-thumbnail{
		width: 100%;
  	height: 200px;
		background-size: cover!important;
	}
}



@media screen and (min-width: 59.6875em){
  body:not(.single):before{                                   
    display: none;                                
  }                                               
                                                 
	body:not(.single) .site-content{                                  
		width: 100%;                                  
		margin: 0 0 6%;                               
		padding: 0 10%;                               
	}                                               
	.page-header{                                   
		margin: 0;                                    
		border: none;                                 
		padding: 0;                                   
		box-shadow: none;                             
	}                                               
	.page-header .search-form:before{               
		position: absolute;                           
		z-index: 20;                                  
		margin: 10px;                                 
		padding-right: 10px;                          
		font: 400 40px/1 dashicons!important;         
		content: '\f179';                             
		speak: none;                                  
		color: #707070;                               
		color: rgba(51, 51, 51, 0.5);                 
		border-right: 2px solid rgba(51, 51, 51, 0.5);
		-webkit-font-smoothing: antialiased;          
		-moz-osx-font-smoothing: grayscale;           
	}                                               
	.page-header input[type="search"]{              
		height: 60px;                                 
		padding-left: 75px;                           
	}                                               
	.page-header input::-webkit-input-placeholder{  
		font-size: 0.9em;                             
		display: block;                               
		height: 60px;                                 
	}
	body:not(.single) .hentry{
		width: 30%;                                                              
		float: left;                                                                           
		margin: 8.3333% 2.6em 0 0;                                                               
		padding-top: 4%;                                                                         
	}

	body:not(.single) .hentry:nth-child(4n){ margin: 0; margin-top: 8.3333%; }
	body.page .hentry{
		width:100%;
		padding-top: 10%;
	}
	body.page .hentry:nth-child(4n){margin-top: 0;}
	body:not(.single) .hentry.has-post-thumbnail{
		padding-top: 0;                                                                          
	}
	body:not(.single) .post-thumbnail{
		width: 100%;
  	height: 200px;
		background-size: cover!important;
		margin-bottom: 1.9474em;
	}
	body:not(.single) .post-thumbnail img{
  	width: 100%;
  	display: block;
  	margin: 0 auto;
  	height: 200px;
	}
	body:not(.single) .hentry .entry-title{
		font-size: 1em;                                                                        
	}                                                                                          
	body:not(.single) .hentry .entry-summary{
		font-size: 0.75em;
		line-height: 1.4em;
	}
	body.single:before {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 29.4118%;
    z-index: -10;
  }
  .single .sidebar {
    float: right;
    margin-left: -99.5%;
    max-width: 413px;
    position: relative;
    width: 29.4118%;
  }
  .single .site-content {
    display: block;
    float: right;
    margin-right: 29.4118%;
    width: 70.5882%;
  }

	.header ul{
 		padding-left: 3%;
		clear: both;
		display: block;
		width: 62.5%;
		margin:	0 auto;
	}	
	.header li{
		border-right: 1px solid #cfcfcf;
		width: 32%;
		height: 27px;
		line-height: 25px;
		float: left;
		list-style: none;
		-webkit-transition: background 0.5s ease;
		-moz-transition: background 0.5s ease;
		-ms-transition: background 0.5s ease;
		-o-transition: background 0.5s ease;
		transition: background 0.5s ease;
	}
	.pagination{

	}
}

/* for all devices*/
header.header{
	background: #0f1111; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #0f1111 0%, #07013a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0f1111), color-stop(100%,#07013a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #0f1111 0%,#07013a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #0f1111 0%,#07013a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #0f1111 0%,#07013a 100%); /* IE10+ */
	background: linear-gradient(135deg, #0f1111 0%,#07013a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1111', endColorstr='#07013a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
   color: #cfcfcf;
	width: 100%;
	height: 110px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.header #logo-bar{
	padding: 10px; 50px;
}	
.header img{
	text-align: center;
	display: block;
	margin: auto;
}
.header a{
	display: block;
  color: #cfcfcf;
	font-size: 11px;
	text-align: center;
}
.header nav{
	height: 27px;
	border-top: 1px solid #cfcfcf;
}

.header li:first-of-type{
	border-left: 1px solid #cfcfcf;
}
.header li:hover{
	background: #0a0a66;
}
.header li:first-of-type:hover{
	background: #146664;
}
.header li:last-of-type:hover{
	background: #7f1919;
}


/*.singleは記事詳細ページでbodyにつくclass*/

.single .entry-title{
	margin-top: 50px;
	margin-bottom: 20px;
}
#content .eyecatch{
	width: 100%;
  display: block;
  margin-bottom: 20px;
	float: right;
}

.single .eyecatch img{
	width: 100%; 
	float: right;
}
.single .site-main{
	padding-top: 0;
}
.single .hentry.has-post-thumbnail {
	padding-top: 30px;
}
.single .entry-content{
	font-size: 0.8em;         
}

.single .entry-title h1:first-of-type, .single .entry-content h2:first-of-type, .single .entry-content h3:first-of-type{
	display: inline;
}
                           
/* footer */
.site-footer{            
	width: 100%;           
	margin: 0;         
	padding: 0;
	float: none;
	position: relative;
	clear: both;
}
.site-footer{
	background: #100f37; /* Old browsers */
	background: -moz-linear-gradient(45deg, #100f37 1%, #100f37 49%, #260013 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#100f37), color-stop(49%,#100f37), color-stop(95%,#260013)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #100f37 1%,#100f37 49%,#260013 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #100f37 1%,#100f37 49%,#260013 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #100f37 1%,#100f37 49%,#260013 95%); /* IE10+ */
	background: linear-gradient(45deg, #100f37 1%,#100f37 49%,#260013 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#100f37', endColorstr='#260013',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.site-footer .site-info{
	padding: 5% 10%;
	color: #fafaff;
}
.site-footer .site-info a{
	color: #fafaff;
}
.footer-divider{
	border: 0;
	border-top: 1px solid #fafaff;
	border-color: rgba(255,255,255,0.4);
}




/****** Modifier ******/
.text-center{
	text-align: center;
}


